@model school.web.Models.OfficeAssignmentViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Crear Oficinista</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InstructorId" class="control-label">Codigo</label>
                <input asp-for="InstructorId" class="form-control" />
                <span asp-validation-for="InstructorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label">Localizacion</label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div> 
            <!-- Campo oculto para el timestamp -->
            <input type="hidden" asp-for="Timestamp" />
            <div class="form-group">
                <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
