@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de Gestión Academico</h1>
    <p>Administrador gestion de los cursos y estudiantes.</p>
    <p>Por Bryan Ricart, Matricula 40200420715.</p>
</div>
